- @title = "Font Stacks - A Sass/Compass font stack library."

%h1 Font Stacks

-# Serif

.family.garamond
  %p.font-family Garamond
  = render :partial => "stack"

.family.lucida-bright
  %p.font-family Lucida Bright
  = render :partial => "stack"

.family.palatino
  %p.font-family Palatino
  = render :partial => "stack"

.family.big-caslon
  %p.font-family Big Caslon
  = render :partial => "stack"

.family.didot
  %p.font-family Didot
  = render :partial => "stack"

.family.baskerville
  %p.font-family Baskerville
  = render :partial => "stack"

.family.hoefler-text
  %p.font-family Hoefler Text
  = render :partial => "stack"

.family.bodoni-mt
  %p.font-family Bodoni MT
  = render :partial => "stack"

.family.goudy-old-style
  %p.font-family Goudy Old Style
  = render :partial => "stack"

.family.constantia
  %p.font-family Constantia
  = render :partial => "stack"

.family.cambria
  %p.font-family Cambria
  = render :partial => "stack"

.family.book-antiqua
  %p.font-family Book Antiqua
  = render :partial => "stack"

.family.times
  %p.font-family Times New Roman
  = render :partial => "stack"

-# Sans-serif

.family.calibri
  %p.font-family Calibri
  = render :partial => "stack"

.family.franklin-gothic-medium
  %p.font-family Franklin Gothic Medium
  = render :partial => "stack"

.family.futura
  %p.font-family Futura
  = render :partial => "stack"

.family.geneva
  %p.font-family Geneva
  = render :partial => "stack"

.family.gill-sans
  %p.font-family Gill Sans
  = render :partial => "stack"

.family.helvetica-neue
  %p.font-family Helvetica Neue
  = render :partial => "stack"

.family.lucida-grande
  %p.font-family Lucida Grande
  = render :partial => "stack"

.family.optima
  %p.font-family Optima
  = render :partial => "stack"

.family.tahoma
  %p.font-family Tahoma
  = render :partial => "stack"

.family.trebuchet-ms
  %p.font-family Trebuchet MS
  = render :partial => "stack"

.family.verdana
  %p.font-family Verdana
  = render :partial => "stack"

.family.monospace
  %p.font-family Monospace
  = render :partial => "stack"