- @title = "Font Stacks - A Sass/Compass font stack library."

%h1 Font Stacks

.family.garamond
  %p.font Garamond
  = render :partial => "stack"

.family.lucida-bright
  %p.font Lucida Bright
  = render :partial => "stack"

.family.palatino
  %p.font Palatino
  = render :partial => "stack"

.family.big-caslon
  %p.font Big Caslon
  = render :partial => "stack"

.family.didot
  %p.font Didot
  = render :partial => "stack"

.family.baskerville
  %p.font Baskerville
  = render :partial => "stack"

.family.hoefler-text
  %p.font Hoefler Text
  = render :partial => "stack"

.family.bodoni-mt
  %p.font Bodoni MT
  = render :partial => "stack"

.family.goudy-old-style
  %p.font Goudy Old Style
  = render :partial => "stack"

.family.constantia
  %p.font Constantia
  = render :partial => "stack"

.family.cambria
  %p.font Cambria
  = render :partial => "stack"

.family.book-antiqua
  %p.font Book Antiqua
  = render :partial => "stack"
